@use "sass:map";
@import '../effects/effects';

@mixin duration($effect) {
    .#{$effect}duration__0\.25#{map.get($effects, $effect)} {
        transition-duration: 25ms;
    }

    .#{$effect}duration__0\.75#{map.get($effects, $effect)} {
        transition-duration: 75ms;
    }

    @for $i from 1 to 21 {
        .#{$effect}duration__#{$i}#{map.get($effects, $effect)} {
            transition-duration: #{$i * 50}ms;
        }
    }
}

@each $i, $_ in $effects {
    @include duration($i);
}
