@use "sass:map";
@import '../effects/effects';

$timings: (
    ease: 'ease_in',
    ease-in: 'ease__in',
    ease-out: 'ease__out',
    ease-in-out: 'ease__in__out',
    linear: 'linear',
    step-start: 'step__start',
    step-end: 'step__end',
);

@each $i, $j in $effects {
    @each $t, $r in $timings {
        .#{$i}timing__#{$r}#{$j} {
            transition-timing-function: $t;
        } 
    }
}