$vupycolor: #e7002a;
$backcolor: #BEBEBE;
$backcolordark: #848397;

.input {
    cursor: pointer;
    height: 3rem;
    border: 1px solid $backcolor;
    transition: 0.3s ease-in-out;
    border-radius: 6px;
    padding: 0 1rem;

    &:hover,
    &:focus {
        border: 1.5px solid $backcolordark;
    }
}

div.input__mask{
    
    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 85%;
        color: #303030;

        &:hover div.mask__radio, &:hover div.mask__checkbox{
            border: 2px solid $backcolordark;
        }
    }

    input[type='radio'], input[type='checkbox'] {
        display: none !important;

        &:checked ~ div.mask__radio {
            border-color: $vupycolor;
        }

        &:checked ~ div.mask__radio::before {
            content: '';
            width: .5rem;
            height: .5rem;
            background-color: $vupycolor;
            position: absolute;
            border-radius: 100%;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }

        &:checked ~ div.mask__checkbox {
            border-color: $vupycolor;
            background-color: $vupycolor;
        }

        &:checked ~ div.mask__checkbox::before {
            content: '';
            width: .2rem;
            height: .5rem;
            position: absolute;
            transform: translate(-50%, -50%) rotate(45deg);
            top: 45%;
            left: 50%;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
        }
    } 

    div.mask__radio {
        cursor: pointer;
        position: relative;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        border: 2px solid $backcolor;
        transition: 0.3s ease-in;
        margin-right: .25rem;
        
        &:hover {
            border: 2px solid $backcolordark;
        }
    }

    div.mask__checkbox {
        cursor: pointer;
        position: relative;
        width: 1rem;
        height: 1rem;
        border-radius: 3px;
        border: 2px solid $backcolor;
        transition: 0.3s ease-in;
        margin-right: .25rem;
        
        &:hover {
            border: 2px solid $backcolordark;
        }
    }
}

textarea.input {
    height: 7.5rem;
    resize: vertical;
    padding-top: .5rem;
}

div.input__hero__label {
    position: relative;

    label {
        position: absolute;
        font-size: .95rem;
        transform: translate(0, -50%);
        pointer-events: none;
        top: 50%;
        left: 1.2rem;
        color: #5e5e5e;
        padding: 0 .25rem;
        transition: 0.1s ease-in;
    }

    .input:focus~label,
    .input:not(:placeholder-shown)~label {
        top: 2px;
        font-size: .75rem;
        background-color: white;
        left: 1rem;

    }
}