div.app {
    main {
        .flex__row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .flex__column {
            display: flex;
            flex-direction: column;
        }

        .flex__wrap {
            flex-wrap: wrap;
        }

        .flex__nowrap {
            flex-wrap: nowrap;
        }

        .flex__wrap__reverse {
            flex-wrap: wrap-reverse;
        }

        .flex__align__center {
            align-items: center;
        }

        .flex__justify__center {
            justify-content: center;
        }

        .flex__align__end {
            align-items: flex-end;
        }

        .flex__justify__end {
            justify-content: flex-end;
        }

        .flex__align__start {
            align-items: flex-start;
        }

        .flex__justify__start {
            justify-content: flex-start;
        }

        .flex__align__baseline {
            align-items: baseline;
        }

        .flex__justify__around {
            justify-content: space-around;
        }

        .flex__justify__between {
            justify-content: space-between;
        }

        .flex__justify__evenly {
            justify-content: space-evenly;
        }

        .flex__justify__baseline {
            justify-content: baseline;
        }

        .flex__col__1{
            flex: 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }

        .flex__col__2{
            flex: 0 0 calc(100% / (12 / 2));
            max-width: calc(100% / (12 / 2));
        }

        .flex__col__3{
            flex: 0 0 calc(100% / (12 / 3));
            max-width: calc(100% / (12 / 3));
        }

        .flex__col__4{
            flex: 0 0 calc(100% / (12 / 4));
            max-width: calc(100% / (12 / 4));
        }

        .flex__col__5{
            flex: 0 0 calc(100% / (12 / 5));
            max-width: calc(100% / (12 / 5));
        }

        .flex__col__6{
            flex: 0 0 calc(100% / (12 / 6));
            max-width: calc(100% / (12 / 6));
        }

        .flex__col__7{
            flex: 0 0 calc(100% / (12 / 7));
            max-width: calc(100% / (12 / 7));
        }

        .flex__col__8{
            flex: 0 0 calc(100% / (12 / 8));
            max-width: calc(100% / (12 / 8));
        }

        .flex__col__9{
            flex: 0 0 calc(100% / (12 / 9));
            max-width: calc(100% / (12 / 9));
        }

        .flex__col__10{
            flex: 0 0 calc(100% / (12 / 10));
            max-width: calc(100% / (12 / 10));
        }

        .flex__col__11{
            flex: 0 0 calc(100% / (12 / 11));
            max-width: calc(100% / (12 / 11));
        }

        .flex__col__12{
            flex: 0 0 100%;
            max-width: 100%;
        }

        .grid {
            display: grid;
            gap: .75rem;

            &.grid__1 {
                grid-template-columns: 1fr;
            }

            &.grid__2 {
                grid-template-columns: 1fr 1fr;
            }

            &.grid__3 {
                grid-template-columns: 1fr 1fr 1fr;
            }

            &.grid__4 {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            &.grid__5 {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }

            &.grid__6 {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            }

            &.grid__7 {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }

            &.grid__8 {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }

            .grid__span_2 {
                grid-column: span 2;
            }

            .grid__span_3 {
                grid-column: span 3;
            }

            .grid__span_4 {
                grid-column: span 4;
            }

            .grid__span_5 {
                grid-column: span 5;
            }

            .grid__span_6 {
                grid-column: span 6;
            }

            .grid__span_7 {
                grid-column: span 7;
            }

            .grid__span_8 {
                grid-column: span 8;
            }

            .grid__span__row_2 {
                grid-row: span 2;
            }

            .grid__span__row_3 {
                grid-row: span 3;
            }

            .grid__span__row_4 {
                grid-row: span 4;
            }

            .grid__span__row_5 {
                grid-row: span 5;
            }

            .grid__span__row_6 {
                grid-row: span 6;
            }

            .grid__span__row_7 {
                grid-row: span 8;
            }

            .grid__span__row_8 {
                grid-row: span 8;
            }
        }
    }
}