@font-face {
  font-family: 'Vupy-icons';
  src:  url('fonts/Vupy-icons.eot?zfy3iy');
  src:  url('fonts/Vupy-icons.eot?zfy3iy#iefix') format('embedded-opentype'),
    url('fonts/Vupy-icons.ttf?zfy3iy') format('truetype'),
    url('fonts/Vupy-icons.woff?zfy3iy') format('woff'),
    url('fonts/Vupy-icons.svg?zfy3iy#Vupy-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="vi-"], [class*=" vi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Vupy-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-pause1:before {
  content: "\e99c";
}
.vi-play1:before {
  content: "\e99d";
}
.vi-pause:before {
  content: "\e99e";
}
.vi-play:before {
  content: "\e99f";
}
.vi-arrow-down:before {
  content: "\e914";
}
.vi-arrow-left:before {
  content: "\e915";
}
.vi-arrow-right:before {
  content: "\e916";
}
.vi-arrow-top:before {
  content: "\e917";
}
.vi-ban:before {
  content: "\e908";
}
.vi-bell:before {
  content: "\e909";
}
.vi-book:before {
  content: "\e987";
}
.vi-box:before {
  content: "\e988";
}
.vi-box-pen:before {
  content: "\e90a";
}
.vi-broke-heart:before {
  content: "\e90b";
}
.vi-camera:before {
  content: "\e989";
}
.vi-caution-circle:before {
  content: "\e90c";
}
.vi-caution-triangle:before {
  content: "\e90d";
}
.vi-chevron-down:before {
  content: "\e918";
}
.vi-chevron-left:before {
  content: "\e919";
}
.vi-chevron-right:before {
  content: "\e91a";
}
.vi-chevron-top:before {
  content: "\e91b";
}
.vi-chevrons-down:before {
  content: "\e91c";
}
.vi-chevrons-left:before {
  content: "\e91d";
}
.vi-chevrons-right:before {
  content: "\e91e";
}
.vi-chevrons-top:before {
  content: "\e91f";
}
.vi-circle-ban-message:before {
  content: "\e902";
}
.vi-circle-dots-message:before {
  content: "\e903";
}
.vi-circle-message:before {
  content: "\e900";
}
.vi-circle-x-message:before {
  content: "\e901";
}
.vi-code:before {
  content: "\e90f";
}
.vi-code-tag:before {
  content: "\e90e";
}
.vi-compass-120:before {
  content: "\e912";
}
.vi-compass-30:before {
  content: "\e910";
}
.vi-compass-90:before {
  content: "\e911";
}
.vi-config:before {
  content: "\e913";
}
.vi-download:before {
  content: "\e920";
}
.vi-face:before {
  content: "\e98a";
}
.vi-full-bell:before {
  content: "\e922";
}
.vi-full-book:before {
  content: "\e98b";
}
.vi-full-box:before {
  content: "\e98c";
}
.vi-full-box-pen:before {
  content: "\e923";
}
.vi-full-broke-heart:before {
  content: "\e924";
}
.vi-full-camera:before {
  content: "\e98d";
}
.vi-full-caution-circle:before {
  content: "\e925";
}
.vi-full-caution-triangle:before {
  content: "\e926";
}
.vi-full-circle-ban-message:before {
  content: "\e906";
}
.vi-full-circle-dots-message:before {
  content: "\e907";
}
.vi-full-circle-message:before {
  content: "\e904";
}
.vi-full-circle-x-message:before {
  content: "\e905";
}
.vi-full-compass-120:before {
  content: "\e929";
}
.vi-full-compass-30:before {
  content: "\e927";
}
.vi-full-compass-90:before {
  content: "\e928";
}
.vi-full-config:before {
  content: "\e92a";
}
.vi-full-gallery:before {
  content: "\e98e";
}
.vi-full-group:before {
  content: "\e92b";
}
.vi-full-heart:before {
  content: "\e92c";
}
.vi-full-house:before {
  content: "\e92d";
}
.vi-full-info-circle:before {
  content: "\e92e";
}
.vi-full-info-triangle:before {
  content: "\e92f";
}
.vi-full-left-send:before {
  content: "\e930";
}
.vi-full-mic:before {
  content: "\e98f";
}
.vi-full-more-horizontal:before {
  content: "\e931";
}
.vi-full-more-vertical:before {
  content: "\e932";
}
.vi-full-no-bell:before {
  content: "\e933";
}
.vi-full-no-heart:before {
  content: "\e934";
}
.vi-full-no-mic:before {
  content: "\e990";
}
.vi-full-open-book:before {
  content: "\e991";
}
.vi-full-pen:before {
  content: "\e935";
}
.vi-full-question-circle:before {
  content: "\e936";
}
.vi-full-question-triangle:before {
  content: "\e937";
}
.vi-full-right-box-pen:before {
  content: "\e938";
}
.vi-full-right-circle-ban-message:before {
  content: "\e939";
}
.vi-full-right-circle-dots-message:before {
  content: "\e93a";
}
.vi-full-right-circle-message:before {
  content: "\e93b";
}
.vi-full-right-circle-x-message:before {
  content: "\e93c";
}
.vi-full-right-pen:before {
  content: "\e93d";
}
.vi-full-right-send:before {
  content: "\e93e";
}
.vi-full-right-share:before {
  content: "\e940";
}
.vi-full-right-share-unlined:before {
  content: "\e93f";
}
.vi-full-right-square-ban-message:before {
  content: "\e941";
}
.vi-full-right-square-dots-message:before {
  content: "\e942";
}
.vi-full-right-square-message:before {
  content: "\e943";
}
.vi-full-right-square-x-message:before {
  content: "\e944";
}
.vi-full-right-write-pen:before {
  content: "\e945";
}
.vi-full-send:before {
  content: "\e946";
}
.vi-full-share:before {
  content: "\e948";
}
.vi-full-share-unlined:before {
  content: "\e947";
}
.vi-full-simple-house:before {
  content: "\e949";
}
.vi-full-square-ban-message:before {
  content: "\e94a";
}
.vi-full-square-dots-message:before {
  content: "\e94b";
}
.vi-full-square-message:before {
  content: "\e94c";
}
.vi-full-square-x-message:before {
  content: "\e94d";
}
.vi-full-trash:before {
  content: "\e992";
}
.vi-full-user:before {
  content: "\e953";
}
.vi-full-user-ban:before {
  content: "\e94e";
}
.vi-full-user-circle:before {
  content: "\e94f";
}
.vi-full-user-minus:before {
  content: "\e950";
}
.vi-full-user-plus:before {
  content: "\e951";
}
.vi-full-user-x:before {
  content: "\e952";
}
.vi-full-users:before {
  content: "\e954";
}
.vi-full-write-pen:before {
  content: "\e955";
}
.vi-gallery:before {
  content: "\e993";
}
.vi-group:before {
  content: "\e956";
}
.vi-heart:before {
  content: "\e957";
}
.vi-house:before {
  content: "\e979";
}
.vi-info-circle:before {
  content: "\e959";
}
.vi-info-triangle:before {
  content: "\e95a";
}
.vi-left-send:before {
  content: "\e95b";
}
.vi-login:before {
  content: "\e95c";
}
.vi-logout:before {
  content: "\e95d";
}
.vi-meh:before {
  content: "\e994";
}
.vi-menu:before {
  content: "\e95e";
}
.vi-mic:before {
  content: "\e995";
}
.vi-minus:before {
  content: "\e95f";
}
.vi-more-horizontal:before {
  content: "\e960";
}
.vi-more-vertical:before {
  content: "\e961";
}
.vi-no-bell:before {
  content: "\e962";
}
.vi-no-heart:before {
  content: "\e963";
}
.vi-no-mic:before {
  content: "\e996";
}
.vi-open-book:before {
  content: "\e997";
}
.vi-pen:before {
  content: "\e964";
}
.vi-plus:before {
  content: "\e965";
}
.vi-question-circle:before {
  content: "\e966";
}
.vi-question-triangle:before {
  content: "\e967";
}
.vi-right-box-pen:before {
  content: "\e968";
}
.vi-right-circle-ban-message:before {
  content: "\e969";
}
.vi-right-circle-dots-message:before {
  content: "\e958";
}
.vi-right-circle-message:before {
  content: "\e96b";
}
.vi-right-circle-x-message:before {
  content: "\e96c";
}
.vi-right-pen:before {
  content: "\e96d";
}
.vi-right-search:before {
  content: "\e998";
}
.vi-right-send:before {
  content: "\e96e";
}
.vi-right-share:before {
  content: "\e970";
}
.vi-right-share-unlined:before {
  content: "\e96f";
}
.vi-right-square-ban-message:before {
  content: "\e971";
}
.vi-right-square-dots-message:before {
  content: "\e96a";
}
.vi-right-square-message:before {
  content: "\e973";
}
.vi-right-square-x-message:before {
  content: "\e974";
}
.vi-right-write-pen:before {
  content: "\e975";
}
.vi-search:before {
  content: "\e999";
}
.vi-send:before {
  content: "\e976";
}
.vi-share:before {
  content: "\e978";
}
.vi-share-unlined:before {
  content: "\e977";
}
.vi-simple-house:before {
  content: "\e97b";
}
.vi-smile:before {
  content: "\e99a";
}
.vi-square-ban-message:before {
  content: "\e97a";
}
.vi-square-dots-message:before {
  content: "\e972";
}
.vi-square-message:before {
  content: "\e97c";
}
.vi-square-x-message:before {
  content: "\e97d";
}
.vi-trash:before {
  content: "\e99b";
}
.vi-upload:before {
  content: "\e921";
}
.vi-user:before {
  content: "\e983";
}
.vi-user-ban:before {
  content: "\e97e";
}
.vi-user-circle:before {
  content: "\e97f";
}
.vi-user-minus:before {
  content: "\e980";
}
.vi-user-plus:before {
  content: "\e981";
}
.vi-user-x:before {
  content: "\e982";
}
.vi-users:before {
  content: "\e984";
}
.vi-write-pen:before {
  content: "\e985";
}
.vi-x:before {
  content: "\e986";
}
