@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?zfy3iy');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?zfy3iy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?zfy3iy') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?zfy3iy') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?zfy3iy##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="vi-"], [class*=" vi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-pause1 {
  &:before {
    content: $vi-pause1; 
  }
}
.vi-play1 {
  &:before {
    content: $vi-play1; 
  }
}
.vi-pause {
  &:before {
    content: $vi-pause; 
  }
}
.vi-play {
  &:before {
    content: $vi-play; 
  }
}
.vi-arrow-down {
  &:before {
    content: $vi-arrow-down; 
  }
}
.vi-arrow-left {
  &:before {
    content: $vi-arrow-left; 
  }
}
.vi-arrow-right {
  &:before {
    content: $vi-arrow-right; 
  }
}
.vi-arrow-top {
  &:before {
    content: $vi-arrow-top; 
  }
}
.vi-ban {
  &:before {
    content: $vi-ban; 
  }
}
.vi-bell {
  &:before {
    content: $vi-bell; 
  }
}
.vi-book {
  &:before {
    content: $vi-book; 
  }
}
.vi-box {
  &:before {
    content: $vi-box; 
  }
}
.vi-box-pen {
  &:before {
    content: $vi-box-pen; 
  }
}
.vi-broke-heart {
  &:before {
    content: $vi-broke-heart; 
  }
}
.vi-camera {
  &:before {
    content: $vi-camera; 
  }
}
.vi-caution-circle {
  &:before {
    content: $vi-caution-circle; 
  }
}
.vi-caution-triangle {
  &:before {
    content: $vi-caution-triangle; 
  }
}
.vi-chevron-down {
  &:before {
    content: $vi-chevron-down; 
  }
}
.vi-chevron-left {
  &:before {
    content: $vi-chevron-left; 
  }
}
.vi-chevron-right {
  &:before {
    content: $vi-chevron-right; 
  }
}
.vi-chevron-top {
  &:before {
    content: $vi-chevron-top; 
  }
}
.vi-chevrons-down {
  &:before {
    content: $vi-chevrons-down; 
  }
}
.vi-chevrons-left {
  &:before {
    content: $vi-chevrons-left; 
  }
}
.vi-chevrons-right {
  &:before {
    content: $vi-chevrons-right; 
  }
}
.vi-chevrons-top {
  &:before {
    content: $vi-chevrons-top; 
  }
}
.vi-circle-ban-message {
  &:before {
    content: $vi-circle-ban-message; 
  }
}
.vi-circle-dots-message {
  &:before {
    content: $vi-circle-dots-message; 
  }
}
.vi-circle-message {
  &:before {
    content: $vi-circle-message; 
  }
}
.vi-circle-x-message {
  &:before {
    content: $vi-circle-x-message; 
  }
}
.vi-code {
  &:before {
    content: $vi-code; 
  }
}
.vi-code-tag {
  &:before {
    content: $vi-code-tag; 
  }
}
.vi-compass-120 {
  &:before {
    content: $vi-compass-120; 
  }
}
.vi-compass-30 {
  &:before {
    content: $vi-compass-30; 
  }
}
.vi-compass-90 {
  &:before {
    content: $vi-compass-90; 
  }
}
.vi-config {
  &:before {
    content: $vi-config; 
  }
}
.vi-download {
  &:before {
    content: $vi-download; 
  }
}
.vi-face {
  &:before {
    content: $vi-face; 
  }
}
.vi-full-bell {
  &:before {
    content: $vi-full-bell; 
  }
}
.vi-full-book {
  &:before {
    content: $vi-full-book; 
  }
}
.vi-full-box {
  &:before {
    content: $vi-full-box; 
  }
}
.vi-full-box-pen {
  &:before {
    content: $vi-full-box-pen; 
  }
}
.vi-full-broke-heart {
  &:before {
    content: $vi-full-broke-heart; 
  }
}
.vi-full-camera {
  &:before {
    content: $vi-full-camera; 
  }
}
.vi-full-caution-circle {
  &:before {
    content: $vi-full-caution-circle; 
  }
}
.vi-full-caution-triangle {
  &:before {
    content: $vi-full-caution-triangle; 
  }
}
.vi-full-circle-ban-message {
  &:before {
    content: $vi-full-circle-ban-message; 
  }
}
.vi-full-circle-dots-message {
  &:before {
    content: $vi-full-circle-dots-message; 
  }
}
.vi-full-circle-message {
  &:before {
    content: $vi-full-circle-message; 
  }
}
.vi-full-circle-x-message {
  &:before {
    content: $vi-full-circle-x-message; 
  }
}
.vi-full-compass-120 {
  &:before {
    content: $vi-full-compass-120; 
  }
}
.vi-full-compass-30 {
  &:before {
    content: $vi-full-compass-30; 
  }
}
.vi-full-compass-90 {
  &:before {
    content: $vi-full-compass-90; 
  }
}
.vi-full-config {
  &:before {
    content: $vi-full-config; 
  }
}
.vi-full-gallery {
  &:before {
    content: $vi-full-gallery; 
  }
}
.vi-full-group {
  &:before {
    content: $vi-full-group; 
  }
}
.vi-full-heart {
  &:before {
    content: $vi-full-heart; 
  }
}
.vi-full-house {
  &:before {
    content: $vi-full-house; 
  }
}
.vi-full-info-circle {
  &:before {
    content: $vi-full-info-circle; 
  }
}
.vi-full-info-triangle {
  &:before {
    content: $vi-full-info-triangle; 
  }
}
.vi-full-left-send {
  &:before {
    content: $vi-full-left-send; 
  }
}
.vi-full-mic {
  &:before {
    content: $vi-full-mic; 
  }
}
.vi-full-more-horizontal {
  &:before {
    content: $vi-full-more-horizontal; 
  }
}
.vi-full-more-vertical {
  &:before {
    content: $vi-full-more-vertical; 
  }
}
.vi-full-no-bell {
  &:before {
    content: $vi-full-no-bell; 
  }
}
.vi-full-no-heart {
  &:before {
    content: $vi-full-no-heart; 
  }
}
.vi-full-no-mic {
  &:before {
    content: $vi-full-no-mic; 
  }
}
.vi-full-open-book {
  &:before {
    content: $vi-full-open-book; 
  }
}
.vi-full-pen {
  &:before {
    content: $vi-full-pen; 
  }
}
.vi-full-question-circle {
  &:before {
    content: $vi-full-question-circle; 
  }
}
.vi-full-question-triangle {
  &:before {
    content: $vi-full-question-triangle; 
  }
}
.vi-full-right-box-pen {
  &:before {
    content: $vi-full-right-box-pen; 
  }
}
.vi-full-right-circle-ban-message {
  &:before {
    content: $vi-full-right-circle-ban-message; 
  }
}
.vi-full-right-circle-dots-message {
  &:before {
    content: $vi-full-right-circle-dots-message; 
  }
}
.vi-full-right-circle-message {
  &:before {
    content: $vi-full-right-circle-message; 
  }
}
.vi-full-right-circle-x-message {
  &:before {
    content: $vi-full-right-circle-x-message; 
  }
}
.vi-full-right-pen {
  &:before {
    content: $vi-full-right-pen; 
  }
}
.vi-full-right-send {
  &:before {
    content: $vi-full-right-send; 
  }
}
.vi-full-right-share {
  &:before {
    content: $vi-full-right-share; 
  }
}
.vi-full-right-share-unlined {
  &:before {
    content: $vi-full-right-share-unlined; 
  }
}
.vi-full-right-square-ban-message {
  &:before {
    content: $vi-full-right-square-ban-message; 
  }
}
.vi-full-right-square-dots-message {
  &:before {
    content: $vi-full-right-square-dots-message; 
  }
}
.vi-full-right-square-message {
  &:before {
    content: $vi-full-right-square-message; 
  }
}
.vi-full-right-square-x-message {
  &:before {
    content: $vi-full-right-square-x-message; 
  }
}
.vi-full-right-write-pen {
  &:before {
    content: $vi-full-right-write-pen; 
  }
}
.vi-full-send {
  &:before {
    content: $vi-full-send; 
  }
}
.vi-full-share {
  &:before {
    content: $vi-full-share; 
  }
}
.vi-full-share-unlined {
  &:before {
    content: $vi-full-share-unlined; 
  }
}
.vi-full-simple-house {
  &:before {
    content: $vi-full-simple-house; 
  }
}
.vi-full-square-ban-message {
  &:before {
    content: $vi-full-square-ban-message; 
  }
}
.vi-full-square-dots-message {
  &:before {
    content: $vi-full-square-dots-message; 
  }
}
.vi-full-square-message {
  &:before {
    content: $vi-full-square-message; 
  }
}
.vi-full-square-x-message {
  &:before {
    content: $vi-full-square-x-message; 
  }
}
.vi-full-trash {
  &:before {
    content: $vi-full-trash; 
  }
}
.vi-full-user {
  &:before {
    content: $vi-full-user; 
  }
}
.vi-full-user-ban {
  &:before {
    content: $vi-full-user-ban; 
  }
}
.vi-full-user-circle {
  &:before {
    content: $vi-full-user-circle; 
  }
}
.vi-full-user-minus {
  &:before {
    content: $vi-full-user-minus; 
  }
}
.vi-full-user-plus {
  &:before {
    content: $vi-full-user-plus; 
  }
}
.vi-full-user-x {
  &:before {
    content: $vi-full-user-x; 
  }
}
.vi-full-users {
  &:before {
    content: $vi-full-users; 
  }
}
.vi-full-write-pen {
  &:before {
    content: $vi-full-write-pen; 
  }
}
.vi-gallery {
  &:before {
    content: $vi-gallery; 
  }
}
.vi-group {
  &:before {
    content: $vi-group; 
  }
}
.vi-heart {
  &:before {
    content: $vi-heart; 
  }
}
.vi-house {
  &:before {
    content: $vi-house; 
  }
}
.vi-info-circle {
  &:before {
    content: $vi-info-circle; 
  }
}
.vi-info-triangle {
  &:before {
    content: $vi-info-triangle; 
  }
}
.vi-left-send {
  &:before {
    content: $vi-left-send; 
  }
}
.vi-login {
  &:before {
    content: $vi-login; 
  }
}
.vi-logout {
  &:before {
    content: $vi-logout; 
  }
}
.vi-meh {
  &:before {
    content: $vi-meh; 
  }
}
.vi-menu {
  &:before {
    content: $vi-menu; 
  }
}
.vi-mic {
  &:before {
    content: $vi-mic; 
  }
}
.vi-minus {
  &:before {
    content: $vi-minus; 
  }
}
.vi-more-horizontal {
  &:before {
    content: $vi-more-horizontal; 
  }
}
.vi-more-vertical {
  &:before {
    content: $vi-more-vertical; 
  }
}
.vi-no-bell {
  &:before {
    content: $vi-no-bell; 
  }
}
.vi-no-heart {
  &:before {
    content: $vi-no-heart; 
  }
}
.vi-no-mic {
  &:before {
    content: $vi-no-mic; 
  }
}
.vi-open-book {
  &:before {
    content: $vi-open-book; 
  }
}
.vi-pen {
  &:before {
    content: $vi-pen; 
  }
}
.vi-plus {
  &:before {
    content: $vi-plus; 
  }
}
.vi-question-circle {
  &:before {
    content: $vi-question-circle; 
  }
}
.vi-question-triangle {
  &:before {
    content: $vi-question-triangle; 
  }
}
.vi-right-box-pen {
  &:before {
    content: $vi-right-box-pen; 
  }
}
.vi-right-circle-ban-message {
  &:before {
    content: $vi-right-circle-ban-message; 
  }
}
.vi-right-circle-dots-message {
  &:before {
    content: $vi-right-circle-dots-message; 
  }
}
.vi-right-circle-message {
  &:before {
    content: $vi-right-circle-message; 
  }
}
.vi-right-circle-x-message {
  &:before {
    content: $vi-right-circle-x-message; 
  }
}
.vi-right-pen {
  &:before {
    content: $vi-right-pen; 
  }
}
.vi-right-search {
  &:before {
    content: $vi-right-search; 
  }
}
.vi-right-send {
  &:before {
    content: $vi-right-send; 
  }
}
.vi-right-share {
  &:before {
    content: $vi-right-share; 
  }
}
.vi-right-share-unlined {
  &:before {
    content: $vi-right-share-unlined; 
  }
}
.vi-right-square-ban-message {
  &:before {
    content: $vi-right-square-ban-message; 
  }
}
.vi-right-square-dots-message {
  &:before {
    content: $vi-right-square-dots-message; 
  }
}
.vi-right-square-message {
  &:before {
    content: $vi-right-square-message; 
  }
}
.vi-right-square-x-message {
  &:before {
    content: $vi-right-square-x-message; 
  }
}
.vi-right-write-pen {
  &:before {
    content: $vi-right-write-pen; 
  }
}
.vi-search {
  &:before {
    content: $vi-search; 
  }
}
.vi-send {
  &:before {
    content: $vi-send; 
  }
}
.vi-share {
  &:before {
    content: $vi-share; 
  }
}
.vi-share-unlined {
  &:before {
    content: $vi-share-unlined; 
  }
}
.vi-simple-house {
  &:before {
    content: $vi-simple-house; 
  }
}
.vi-smile {
  &:before {
    content: $vi-smile; 
  }
}
.vi-square-ban-message {
  &:before {
    content: $vi-square-ban-message; 
  }
}
.vi-square-dots-message {
  &:before {
    content: $vi-square-dots-message; 
  }
}
.vi-square-message {
  &:before {
    content: $vi-square-message; 
  }
}
.vi-square-x-message {
  &:before {
    content: $vi-square-x-message; 
  }
}
.vi-trash {
  &:before {
    content: $vi-trash; 
  }
}
.vi-upload {
  &:before {
    content: $vi-upload; 
  }
}
.vi-user {
  &:before {
    content: $vi-user; 
  }
}
.vi-user-ban {
  &:before {
    content: $vi-user-ban; 
  }
}
.vi-user-circle {
  &:before {
    content: $vi-user-circle; 
  }
}
.vi-user-minus {
  &:before {
    content: $vi-user-minus; 
  }
}
.vi-user-plus {
  &:before {
    content: $vi-user-plus; 
  }
}
.vi-user-x {
  &:before {
    content: $vi-user-x; 
  }
}
.vi-users {
  &:before {
    content: $vi-users; 
  }
}
.vi-write-pen {
  &:before {
    content: $vi-write-pen; 
  }
}
.vi-x {
  &:before {
    content: $vi-x; 
  }
}

