img {
    &.rounded {
        border-radius: 100%;
    }

    &.square__round {
        border-radius: 8px;
    }

    &.square {
        border-radius: 0px;
    }

    &.zoom{
        transition: .2s transform ease-in;
        transform: scale(1.06);

        &:hover{
            transform: scale(1);
        }
    }
}

div.crop__img {
    border-radius: 8px;
    overflow: hidden;

    &.h__30 {
        height: 30rem;
    }

    &.h__25 {
        height: 25rem;
    }

    &.h__20 {
        height: 20rem;
    }

    &.h__15 {
        height: 15rem;
    }

    &.h__10 {
        height: 10rem;
    }

    &.h__5 {
        height: 5rem;
    }

    img {
        min-width: 100%;
        width: 100%;
        min-height: 100%;
    }
}