* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.75;
  scrollbar-width: thin;
  scrollbar-color: #e7002a;
}
*::-webkit-scrollbar {
  background-color: white;
  width: 0.3rem;
}
*::-webkit-scrollbar-thumb {
  background: #e7002a;
}

html,
body,
div.app {
  width: 100%;
  height: 100%;
}

.sur__color__red {
  min-width: 3rem;
  min-height: 3rem;
  border: 2px solid #e7002a;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e7002a;
}
.sur__color__red.full__red {
  background-color: #e7002a;
  color: white;
}

div.app a {
  text-decoration: none;
}
div.app .pub {
  cursor: pointer;
  font-weight: 400;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  background-color: #e7002a;
  text-align: center;
  padding: 4px;
  min-width: 10vw;
  font-size: 90%;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
div.app .pub:hover {
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.5);
}
div.app .pub i {
  line-height: 2.3rem;
}
div.app .pub i.high {
  font-size: 1.35rem;
}
div.app .pub span {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100px;
  height: 100px;
  animation: ripple 1s;
  opacity: 0;
  transform: scale(1);
}
div.app .pub.only__border {
  border: 2px solid #e7002a;
  background: none;
  color: #e7002a;
}
div.app .pub.min {
  min-width: 0;
}
div.app .pub.no__shadow {
  box-shadow: none;
}
div.app .pub.rounded {
  border-radius: 10rem;
}
div.app .pub.rounded.circle {
  width: 2.5rem;
  height: 2.5rem;
}
div.app nav {
  background-color: white;
}
div.app nav.top__menu {
  width: 100%;
  height: 4rem;
  display: flex;
  position: fixed;
  padding: 0 0.5rem;
  box-shadow: 0px 0px 5px 0 rgba(90, 61, 66, 0.1), 0px 0px 7px -1px rgba(89, 49, 56, 0.05), 0px 0px 9px -1px rgba(89, 49, 56, 0.05);
  z-index: 10;
  top: 0;
  transition: 0.3s ease-in-out;
  justify-content: space-between;
  align-items: center;
}
div.app nav.top__menu ul {
  display: flex;
}
div.app nav.top__menu ul li,
div.app nav.top__menu ul a {
  cursor: pointer;
  list-style: none;
  padding: 0 0.75rem;
  line-height: 4rem;
  height: 4rem;
  list-style: none;
  color: #000;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
}
div.app nav.left__menu {
  width: 15em;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 5px 0 rgba(90, 61, 66, 0.1), 0px 0px 7px -1px rgba(89, 49, 56, 0.05), 0px 0px 9px -1px rgba(89, 49, 56, 0.05);
  z-index: 10;
  top: 0;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  overflow-y: auto;
}
div.app nav.left__menu ul {
  margin-top: 1.5rem;
}
div.app nav.left__menu ul li,
div.app nav.left__menu ul a {
  cursor: pointer;
  color: #000;
  list-style: none;
  height: 2.75rem;
  line-height: 2.75rem;
  display: flex;
  align-items: center;
}
div.app nav img.rounded {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, 0.2);
  margin-right: 0.5rem;
}
div.app nav .logo {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
div.app nav .logo img {
  width: auto;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 6px;
}
div.app main {
  padding-top: 4.5rem;
}
div.app main .w-100 {
  width: 100%;
}
div.app main .w-75 {
  width: 75%;
}
div.app main .w-50 {
  width: 50%;
}
div.app main .w-25 {
  width: 25%;
}
div.app main .w-33 {
  width: 33.33%;
}
div.app main .w-66 {
  width: 66.66%;
}
div.app main .h-100 {
  height: 100%;
}
div.app main .h-75 {
  height: 75%;
}
div.app main .h-50 {
  height: 50%;
}
div.app main .h-25 {
  height: 25%;
}
div.app main .h-33 {
  height: 33.33%;
}
div.app main .h-66 {
  height: 66.66%;
}
div.app main .flex__row {
  display: flex;
  flex-direction: row;
}
div.app main .flex__column {
  display: flex;
  flex-direction: column;
}
div.app main .flex__align__center {
  align-items: center;
}
div.app main .flex__justify__center {
  justify-content: center;
}
div.app main .grid {
  display: grid;
  gap: 0.75rem;
}
div.app main .grid.grid__1 {
  grid-template-columns: 1fr;
}
div.app main .grid.grid__2 {
  grid-template-columns: 1fr 1fr;
}
div.app main .grid.grid__3 {
  grid-template-columns: 1fr 1fr 1fr;
}
div.app main .grid.grid__4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.app main .grid.grid__5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
div.app main .grid.grid__6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.app main .grid .grid__span_2 {
  grid-column: span 2;
}
div.app main .grid .grid__span_3 {
  grid-column: span 3;
}
div.app main .grid .grid__span_4 {
  grid-column: span 4;
}
div.app main .grid .grid__span_5 {
  grid-column: span 5;
}
div.app main .grid .grid__span_6 {
  grid-column: span 6;
}
div.app main .grid .grid__span__row_2 {
  grid-row: span 2;
}
div.app main .grid .grid__span__row_3 {
  grid-row: span 3;
}
div.app main .grid .grid__span__row_4 {
  grid-row: span 4;
}
div.app main .grid .grid__span__row_5 {
  grid-row: span 5;
}
div.app main .grid .grid__span__row_6 {
  grid-row: span 6;
}
div.app main .padt-1 {
  margin-top: 1rem;
}
div.app main .padt-2 {
  margin-top: 2rem;
}
div.app main .padt-3 {
  margin-top: 3rem;
}
div.app main .padt-4 {
  margin-top: 4rem;
}
div.app main .padl-1 {
  margin-left: 1rem;
}
div.app main .padl-2 {
  margin-left: 2rem;
}
div.app main .padl-3 {
  margin-left: 3rem;
}
div.app main .padl-4 {
  margin-left: 4rem;
}
div.app main .padr-1 {
  margin-right: 1rem;
}
div.app main .padr-2 {
  margin-right: 2rem;
}
div.app main .padr-3 {
  margin-right: 3rem;
}
div.app main .padr-4 {
  margin-right: 4rem;
}
div.app main .padb-1 {
  margin-bottom: 1rem;
}
div.app main .padb-2 {
  margin-bottom: 2rem;
}
div.app main .padb-3 {
  margin-bottom: 3rem;
}
div.app main .padb-4 {
  margin-bottom: 4rem;
}
div.app main .padh-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
div.app main .padh-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
div.app main .padh-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
div.app main .padh-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}
div.app main .padv-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
div.app main .padv-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
div.app main .padv-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
div.app main .padv-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
div.app main img.rounded {
  border-radius: 100%;
}
div.app main img.square__round {
  border-radius: 8px;
}
div.app main img.square {
  border-radius: 0px;
}
div.app main .input {
  cursor: pointer;
  height: 2.5rem;
  border: 2px solid #d5dbdf;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
  padding: 0 1rem;
}
div.app main .input:hover, div.app main .input:focus {
  border: 2px solid #b8bbbd;
}
div.app main textarea.input {
  height: 7.5rem;
  resize: vertical;
  padding-top: 0.5rem;
}
div.app main div.input__hero__label {
  position: relative;
}
div.app main div.input__hero__label label {
  position: absolute;
  font-size: 0.95rem;
  transform: translate(0, -50%);
  top: 50%;
  left: 1.2rem;
  color: #5e5e5e;
  padding: 0 0.25rem;
  transition: 0.1s ease-in;
}
div.app main div.input__hero__label .input:focus ~ label,
div.app main div.input__hero__label .input:not(:placeholder-shown) ~ label {
  top: 2px;
  font-size: 0.75rem;
  background-color: white;
  left: 1rem;
}
div.app main div.card {
  height: auto;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 6px -1px rgba(89, 49, 56, 0.2), 0 0 8px -1px rgba(89, 49, 56, 0.15);
}
div.app main div.card div.image__card {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}
div.app main div.card div.image__card img {
  width: 100%;
  height: auto;
}
div.app main div.card span.card__header__info {
  font-size: 0.9rem;
}
div.app main div.card div.card__footer {
  display: flex;
  flex-direction: row;
  height: 4rem;
  padding: 0 1.2em;
  align-items: center;
  margin-top: 1rem;
}
div.app main div.card div.card__footer div.item {
  cursor: pointer;
  height: 4rem;
  line-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1rem;
  margin-right: 1rem;
  font-size: 115%;
}
div.app main div.card div.card__footer div.item.right {
  margin-left: auto;
}
div.app main div.card div.pad {
  padding: 1.2rem;
}
div.app main div.card div.pad .right {
  margin-left: auto;
}
div.app main div.card div.pad header {
  height: 4rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d8d8d8;
  padding: 0.55em 0 1em;
  align-items: center;
  font-size: 120%;
  margin: 0.5rem 0;
  position: relative;
}
div.app main div.card div.pad header img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}
div.app main div.card div.pad p.text {
  margin-top: 1rem;
  text-align: justify;
  font-size: 110%;
}

/*# sourceMappingURL=main.css.map */
