@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
div.app main .w-100 {
  width: 100%;
}
div.app main .w-75 {
  width: 75%;
}
div.app main .w-50 {
  width: 50%;
}
div.app main .w-25 {
  width: 25%;
}
div.app main .w-33 {
  width: 33.33%;
}
div.app main .w-66 {
  width: 66.66%;
}
div.app main .h-100 {
  height: 100%;
}
div.app main .h-75 {
  height: 75%;
}
div.app main .h-50 {
  height: 50%;
}
div.app main .h-25 {
  height: 25%;
}
div.app main .h-33 {
  height: 33.33%;
}
div.app main .h-66 {
  height: 66.66%;
}

div.app main .flex__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.app main .flex__column {
  display: flex;
  flex-direction: column;
}
div.app main .flex__align__center {
  align-items: center;
}
div.app main .flex__justify__center {
  justify-content: center;
}
div.app main .flex__align__end {
  align-items: flex-end;
}
div.app main .flex__justify__end {
  justify-content: flex-end;
}
div.app main .flex__align__start {
  align-items: flex-start;
}
div.app main .flex__justify__start {
  justify-content: flex-start;
}
div.app main .flex__align__baseline {
  align-items: baseline;
}
div.app main .flex__justify__around {
  justify-content: space-around;
}
div.app main .flex__justify__between {
  justify-content: space-between;
}
div.app main .flex__justify__evenly {
  justify-content: space-evenly;
}
div.app main .flex__justify__baseline {
  justify-content: baseline;
}
div.app main .flex__col__1 {
  flex: 0 0 calc(100% / 12);
  max-width: calc(100% / 12);
}
div.app main .flex__col__2 {
  flex: 0 0 calc(100% / (12 / 2));
  max-width: calc(100% / (12 / 2));
}
div.app main .flex__col__3 {
  flex: 0 0 calc(100% / (12 / 3));
  max-width: calc(100% / (12 / 3));
}
div.app main .flex__col__4 {
  flex: 0 0 calc(100% / (12 / 4));
  max-width: calc(100% / (12 / 4));
}
div.app main .flex__col__5 {
  flex: 0 0 calc(100% / (12 / 5));
  max-width: calc(100% / (12 / 5));
}
div.app main .flex__col__6 {
  flex: 0 0 calc(100% / (12 / 6));
  max-width: calc(100% / (12 / 6));
}
div.app main .flex__col__7 {
  flex: 0 0 calc(100% / (12 / 7));
  max-width: calc(100% / (12 / 7));
}
div.app main .flex__col__8 {
  flex: 0 0 calc(100% / (12 / 8));
  max-width: calc(100% / (12 / 8));
}
div.app main .flex__col__9 {
  flex: 0 0 calc(100% / (12 / 9));
  max-width: calc(100% / (12 / 9));
}
div.app main .flex__col__10 {
  flex: 0 0 calc(100% / (12 / 10));
  max-width: calc(100% / (12 / 10));
}
div.app main .flex__col__11 {
  flex: 0 0 calc(100% / (12 / 11));
  max-width: calc(100% / (12 / 11));
}
div.app main .flex__col__12 {
  flex: 0 0 100%;
  max-width: 100%;
}
div.app main .grid {
  display: grid;
  gap: 0.75rem;
}
div.app main .grid.grid__1 {
  grid-template-columns: 1fr;
}
div.app main .grid.grid__2 {
  grid-template-columns: 1fr 1fr;
}
div.app main .grid.grid__3 {
  grid-template-columns: 1fr 1fr 1fr;
}
div.app main .grid.grid__4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.app main .grid.grid__5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
div.app main .grid.grid__6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.app main .grid.grid__7 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.app main .grid.grid__8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.app main .grid .grid__span_2 {
  grid-column: span 2;
}
div.app main .grid .grid__span_3 {
  grid-column: span 3;
}
div.app main .grid .grid__span_4 {
  grid-column: span 4;
}
div.app main .grid .grid__span_5 {
  grid-column: span 5;
}
div.app main .grid .grid__span_6 {
  grid-column: span 6;
}
div.app main .grid .grid__span_7 {
  grid-column: span 7;
}
div.app main .grid .grid__span_8 {
  grid-column: span 8;
}
div.app main .grid .grid__span__row_2 {
  grid-row: span 2;
}
div.app main .grid .grid__span__row_3 {
  grid-row: span 3;
}
div.app main .grid .grid__span__row_4 {
  grid-row: span 4;
}
div.app main .grid .grid__span__row_5 {
  grid-row: span 5;
}
div.app main .grid .grid__span__row_6 {
  grid-row: span 6;
}
div.app main .grid .grid__span__row_7 {
  grid-row: span 8;
}
div.app main .grid .grid__span__row_8 {
  grid-row: span 8;
}

div.app .padt-auto {
  padding-top: auto;
}
div.app .padt-0 {
  padding-top: 0rem;
}
div.app .padt-025 {
  padding-top: 0.25rem;
}
div.app .padt-050 {
  padding-top: 0.5rem;
}
div.app .padt-075 {
  padding-top: 0.75rem;
}
div.app .padt-1 {
  padding-top: 1rem;
}
div.app .padt-2 {
  padding-top: 2rem;
}
div.app .padt-3 {
  padding-top: 3rem;
}
div.app .padt-4 {
  padding-top: 4rem;
}
div.app .padl-auto {
  padding-left: auto;
}
div.app .padl-0 {
  padding-left: 0rem;
}
div.app .padl-025 {
  padding-left: 0.25rem;
}
div.app .padl-050 {
  padding-left: 0.5rem;
}
div.app .padl-075 {
  padding-left: 0.75rem;
}
div.app .padl-1 {
  padding-left: 1rem;
}
div.app .padl-2 {
  padding-left: 2rem;
}
div.app .padl-3 {
  padding-left: 3rem;
}
div.app .padl-4 {
  padding-left: 4rem;
}
div.app .padr-auto {
  padding-right: auto;
}
div.app .padr-0 {
  padding-right: 0rem;
}
div.app .padr-025 {
  padding-right: 0.25rem;
}
div.app .padr-075 {
  padding-right: 0.75rem;
}
div.app .padr-050 {
  padding-right: 0.5rem;
}
div.app .padr-1 {
  padding-right: 1rem;
}
div.app .padr-2 {
  padding-right: 2rem;
}
div.app .padr-3 {
  padding-right: 3rem;
}
div.app .padr-4 {
  padding-right: 4rem;
}
div.app .padb-auto {
  padding-bottom: auto;
}
div.app .padb-0 {
  padding-bottom: 0rem;
}
div.app .padb-025 {
  padding-bottom: 0.25rem;
}
div.app .padb-050 {
  padding-bottom: 0.5rem;
}
div.app .padb-075 {
  padding-bottom: 0.75rem;
}
div.app .padb-1 {
  padding-bottom: 1rem;
}
div.app .padb-2 {
  padding-bottom: 2rem;
}
div.app .padb-3 {
  padding-bottom: 3rem;
}
div.app .padb-4 {
  padding-bottom: 4rem;
}
div.app .padh-auto {
  padding-left: auto;
  padding-right: auto;
}
div.app .padh-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}
div.app .padh-025 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
div.app .padh-050 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
div.app .padh-075 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
div.app .padh-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
div.app .padh-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
div.app .padh-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
div.app .padh-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
div.app .padv-auto {
  padding-top: auto;
  padding-bottom: auto;
}
div.app .padv-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
div.app .padv-025 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
div.app .padv-050 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
div.app .padv-075 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
div.app .padv-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
div.app .padv-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
div.app .padv-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
div.app .padv-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
div.app .pad-auto {
  padding: auto;
}
div.app .pad-0 {
  padding: 0rem;
}
div.app .pad-025 {
  padding: 0.25rem;
}
div.app .pad-050 {
  padding: 0.5rem;
}
div.app .pad-075 {
  padding: 0.75rem;
}
div.app .pad-1 {
  padding: 1rem;
}
div.app .pad-2 {
  padding: 2rem;
}
div.app .pad-3 {
  padding: 3rem;
}
div.app .pad-4 {
  padding: 4rem;
}
div.app .mart-auto {
  margin-top: auto;
}
div.app .mart-0 {
  margin-top: 0rem;
}
div.app .mart-025 {
  margin-top: 0.25rem;
}
div.app .mart-050 {
  margin-top: 0.5rem;
}
div.app .mart-075 {
  margin-top: 0.75rem;
}
div.app .mart-1 {
  margin-top: 1rem;
}
div.app .mart-2 {
  margin-top: 2rem;
}
div.app .mart-3 {
  margin-top: 3rem;
}
div.app .mart-4 {
  margin-top: 4rem;
}
div.app .marl-auto {
  margin-left: auto;
}
div.app .marl-0 {
  margin-left: 0rem;
}
div.app .marl-025 {
  margin-left: 0.25rem;
}
div.app .marl-050 {
  margin-left: 0.5rem;
}
div.app .marl-075 {
  margin-left: 0.75rem;
}
div.app .marl-1 {
  margin-left: 1rem;
}
div.app .marl-2 {
  margin-left: 2rem;
}
div.app .marl-3 {
  margin-left: 3rem;
}
div.app .marl-4 {
  margin-left: 4rem;
}
div.app .marr-auto {
  margin-right: auto;
}
div.app .marr-0 {
  margin-right: 0rem;
}
div.app .marr-025 {
  margin-right: 0.25rem;
}
div.app .marr-075 {
  margin-right: 0.75rem;
}
div.app .marr-050 {
  margin-right: 0.5rem;
}
div.app .marr-1 {
  margin-right: 1rem;
}
div.app .marr-2 {
  margin-right: 2rem;
}
div.app .marr-3 {
  margin-right: 3rem;
}
div.app .marr-4 {
  margin-right: 4rem;
}
div.app .marb-auto {
  margin-bottom: auto;
}
div.app .marb-0 {
  margin-bottom: 0rem;
}
div.app .marb-025 {
  margin-bottom: 0.25rem;
}
div.app .marb-050 {
  margin-bottom: 0.5rem;
}
div.app .marb-075 {
  margin-bottom: 0.75rem;
}
div.app .marb-1 {
  margin-bottom: 1rem;
}
div.app .marb-2 {
  margin-bottom: 2rem;
}
div.app .marb-3 {
  margin-bottom: 3rem;
}
div.app .marb-4 {
  margin-bottom: 4rem;
}
div.app .marh-auto {
  margin-left: auto;
  margin-right: auto;
}
div.app .marh-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}
div.app .marh-025 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
div.app .marh-050 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
div.app .marh-075 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
div.app .marh-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
div.app .marh-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
div.app .marh-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
div.app .marh-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}
div.app .marv-auto {
  margin-top: auto;
  margin-bottom: auto;
}
div.app .marv-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
div.app .marv-025 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
div.app .marv-050 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
div.app .marv-075 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
div.app .marv-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
div.app .marv-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
div.app .marv-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
div.app .marv-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
div.app .mar-auto {
  margin: auto;
}
div.app .mar-0 {
  margin: 0rem;
}
div.app .mar-025 {
  margin: 0.25rem;
}
div.app .mar-050 {
  margin: 0.5rem;
}
div.app .mar-075 {
  margin: 0.75rem;
}
div.app .mar-1 {
  margin: 1rem;
}
div.app .mar-2 {
  margin: 2rem;
}
div.app .mar-3 {
  margin: 3rem;
}
div.app .mar-4 {
  margin: 4rem;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 1.75;
  scrollbar-width: thin;
  scrollbar-color: #e7002a;
}
*::-webkit-scrollbar {
  background-color: white;
  width: 0.3rem;
}
*::-webkit-scrollbar-thumb {
  background: #e7002a;
}

html,
body,
div.app {
  width: 100%;
  height: 100%;
}

div.app.font__nunito {
  width: 100%;
  height: 100%;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
}
div.app.font__nunito * {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
}

.sur__color__red {
  min-width: 3rem;
  min-height: 3rem;
  border: 2px solid #e7002a;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e7002a;
}
.sur__color__red.full__red {
  background-color: #e7002a;
  color: white;
}

div.app a {
  text-decoration: none;
}
div.app .pub {
  cursor: pointer;
  font-weight: 400;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  background-color: #e7002a;
  text-align: center;
  padding: 4px;
  min-width: 10vw;
  font-size: 90%;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
div.app .pub:hover {
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.5);
}
div.app .pub i.sized {
  line-height: 2.3rem;
}
div.app .pub i.sized.high {
  font-size: 1.35rem;
}
div.app .pub span {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100px;
  height: 100px;
  animation: ripple 1s;
  opacity: 0;
  transform: scale(1);
}
div.app .pub.only__border {
  border: 2px solid #e7002a;
  background: none;
  color: #e7002a;
}
div.app .pub.min {
  min-width: 0;
}
div.app .pub.no__shadow {
  box-shadow: none;
}
div.app .pub.rounded {
  border-radius: 10rem;
}
div.app .pub.rounded.circle {
  width: 2.5rem;
  height: 2.5rem;
}
div.app nav {
  background-color: white;
}
div.app nav.top__menu {
  width: 100%;
  height: 4rem;
  display: flex;
  position: fixed;
  padding: 0 0.5rem;
  box-shadow: 0px 0px 5px 0 rgba(90, 61, 66, 0.1), 0px 0px 7px -1px rgba(89, 49, 56, 0.05), 0px 0px 9px -1px rgba(89, 49, 56, 0.05);
  z-index: 10;
  top: 0;
  transition: 0.3s ease-in-out;
  justify-content: space-between;
  align-items: center;
}
div.app nav.top__menu ul {
  display: flex;
}
div.app nav.top__menu ul li,
div.app nav.top__menu ul a {
  cursor: pointer;
  list-style: none;
  padding: 0 0.75rem;
  line-height: 4rem;
  height: 4rem;
  list-style: none;
  color: #000;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
div.app nav.top__menu ul a li {
  padding: 0;
}
div.app nav.left__menu {
  width: 15em;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 5px 0 rgba(90, 61, 66, 0.1), 0px 0px 7px -1px rgba(89, 49, 56, 0.05), 0px 0px 9px -1px rgba(89, 49, 56, 0.05);
  z-index: 10;
  top: 0;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  overflow-y: auto;
}
div.app nav.left__menu ul {
  margin-top: 1.5rem;
}
div.app nav.left__menu ul li,
div.app nav.left__menu ul a {
  cursor: pointer;
  color: #000;
  list-style: none;
  height: 2.75rem;
  line-height: 2.75rem;
  display: flex;
  align-items: center;
}
div.app nav img.rounded {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, 0.2);
  margin-right: 0.5rem;
}
div.app nav .logo {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
div.app nav .logo img {
  width: auto;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 6px;
}
div.app main {
  padding-top: 4rem;
}
div.app main img.rounded {
  border-radius: 100%;
}
div.app main img.square__round {
  border-radius: 8px;
}
div.app main img.square {
  border-radius: 0px;
}
div.app main .input {
  cursor: pointer;
  height: 2.5rem;
  border: 2px solid #d5dbdf;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
  padding: 0 1rem;
}
div.app main .input:hover, div.app main .input:focus {
  border: 2px solid #b8bbbd;
}
div.app main textarea.input {
  height: 7.5rem;
  resize: vertical;
  padding-top: 0.5rem;
}
div.app main div.input__hero__label {
  position: relative;
}
div.app main div.input__hero__label label {
  position: absolute;
  font-size: 0.95rem;
  transform: translate(0, -50%);
  top: 50%;
  left: 1.2rem;
  color: #5e5e5e;
  padding: 0 0.25rem;
  transition: 0.1s ease-in;
}
div.app main div.input__hero__label .input:focus ~ label,
div.app main div.input__hero__label .input:not(:placeholder-shown) ~ label {
  top: 2px;
  font-size: 0.75rem;
  background-color: white;
  left: 1rem;
}
div.app main div.card {
  height: auto;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 6px -1px rgba(89, 49, 56, 0.2), 0 0 8px -1px rgba(89, 49, 56, 0.15);
}
div.app main div.card div.image__card {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}
div.app main div.card div.image__card img {
  width: 100%;
  height: auto;
}
div.app main div.card span.card__header__info {
  font-size: 0.9rem;
}
div.app main div.card div.card__footer {
  display: flex;
  flex-direction: row;
  height: 4rem;
  padding: 0 1.2em;
  align-items: center;
  margin-top: 1rem;
}
div.app main div.card div.card__footer div.item {
  cursor: pointer;
  height: 4rem;
  line-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1rem;
  margin-right: 1rem;
  font-size: 115%;
}
div.app main div.card div.card__footer div.item.right {
  margin-left: auto;
}
div.app main div.card div.pad {
  padding: 1.2rem;
}
div.app main div.card div.pad .right {
  margin-left: auto;
}
div.app main div.card div.pad header {
  height: 4rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d8d8d8;
  padding: 0.55em 0 1em;
  align-items: center;
  font-size: 120%;
  margin: 0.5rem 0;
  position: relative;
}
div.app main div.card div.pad header img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}
div.app main div.card div.pad p.text {
  margin-top: 1rem;
  text-align: justify;
  font-size: 110%;
}

/*# sourceMappingURL=main.css.map */
