@use 'sizes.scss';
@use 'layouts.scss';
@use 'spacers.scss';


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


$vupycolor: #e7002a;
$backcolor: #d5dbdf;
$backcolordark: #b8bbbd;

$darkbackcolor: #303030;
$darkbackcolordark: rgb(18, 18, 18);

$darksyntax: rgb(33, 33, 33);
$darksyntaxdark: rgb(26, 26, 26);


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    line-height: 1.75;
    scrollbar-width: thin;
    scrollbar-color: $vupycolor;

    &::-webkit-scrollbar {
        background-color: white;
        width: .3rem;
    }

    &::-webkit-scrollbar-thumb {
        background: $vupycolor;
    }
}

html,
body,
div.app {
    width: 100%;
    height: 100%;
}

div.app.font__nunito {
    width: 100%;
    height: 100%;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    
    * {
        font-family: 'Nunito', Helvetica, Arial, sans-serif;
    }
}

.sur__color__red {
    min-width: 3rem;
    min-height: 3rem;
    border: 2px solid #e7002a;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7002a;

    &.full__red {
        background-color: #e7002a;
        color: white;
    }
}

div.app {
    a{
        text-decoration: none;
    }

    .pub {
        cursor: pointer;
        font-weight: 400;
        border-radius: 4px;
        transition: 0.3s ease-in-out;
        background-color: $vupycolor;
        text-align: center;
        padding: 4px;
        min-width: 10vw;
        font-size: 90%;
        color: #ffffff;
        position: relative;
        overflow: hidden;
        border: 2px solid transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

        &:hover {
            box-shadow: 0 0 4px -1px rgba(0, 0, 0, .5);
        }

        i.sized {
            line-height: 2.3rem;

            &.high {
                font-size: 1.35rem;
            }
        }

        span {
            display: block;
            position: absolute;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            width: 100px;
            height: 100px;
            animation: ripple 1s;
            opacity: 0;
            transform: scale(1);
        }

        &.only__border {
            border: 2px solid $vupycolor;
            background: none;
            color: $vupycolor;
        }

        &.min {
            min-width: 0;
        }
    
        &.no__shadow{
            box-shadow: none;
        }

        &.rounded{
            border-radius: 10rem;

            &.circle{
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

    nav {
        background-color: white;

        &.top__menu {
            width: 100%;
            height: 4rem;
            display: flex;
            position: fixed;
            padding: 0 .5rem;
            box-shadow: 0px 0px 5px 0 rgba(90, 61, 66, 0.1),
                0px 0px 7px -1px rgba(89, 49, 56, .05),
                0px 0px 9px -1px rgba(89, 49, 56, .05);
            z-index: 10;
            top: 0;
            transition: 0.3s ease-in-out;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;

                li,
                a {
                    cursor: pointer;
                    list-style: none;
                    padding: 0 .75rem;
                    line-height: 4rem;
                    height: 4rem;
                    list-style: none;
                    color: #000;
                    font-weight: 400;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    font-size: .95rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                }
                
                a {
                    li {
                        padding: 0;
                    }
                }
            }
        }

        &.left__menu {
            width: 15em;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: fixed;
            padding: 1rem 1.5rem;
            box-shadow: 0px 0px 5px 0 rgba(90, 61, 66, 0.1),
                0px 0px 7px -1px rgba(89, 49, 56, .05),
                0px 0px 9px -1px rgba(89, 49, 56, .05);
            z-index: 10;
            top: 0;
            transition: 0.3s ease-in-out;
            overflow: hidden;
            overflow-y: auto;

            ul {
                margin-top: 1.5rem;

                li,
                a {
                    cursor: pointer;
                    color: #000;
                    list-style: none;
                    height: 2.75rem;
                    line-height: 2.75rem;
                    display: flex;
                    align-items: center;
                }
            }
        }

        img.rounded {
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, .2);
            margin-right: .5rem;
        }

        .logo {
            font-size: 1.25rem;
            display: flex;
            align-items: center;

            img {
                width: auto;
                height: 3rem;
                margin-right: .5rem;
                border-radius: 6px;
            }
        }
    }

    main {
        padding-top: 4rem;

        img {
            &.rounded {
                border-radius: 100%;
            }

            &.square__round {
                border-radius: 8px;
            }

            &.square {
                border-radius: 0px;
            }
        }

        .input {
            cursor: pointer;
            height: 2.5rem;
            border: 2px solid $backcolor;
            transition: 0.3s ease-in-out;
            border-radius: 6px;
            padding: 0 1rem;
        
            &:hover,
            &:focus {
                border: 2px solid $backcolordark;
            }
        }

        div.input__mask{
            
            label {
                cursor: pointer;
                display: flex;
                align-items: center;
                font-size: 85%;
                color: #303030;

                &:hover div.mask__radio, &:hover div.mask__checkbox{
                    border: 2px solid $backcolordark;
                }
            }

            input[type='radio'], input[type='checkbox'] {
                display: none !important;

                &:checked ~ div.mask__radio {
                    border-color: $vupycolor;
                }

                &:checked ~ div.mask__radio::before {
                    content: '';
                    width: .5rem;
                    height: .5rem;
                    background-color: $vupycolor;
                    position: absolute;
                    border-radius: 100%;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                }

                &:checked ~ div.mask__checkbox {
                    border-color: $vupycolor;
                    background-color: $vupycolor;
                }

                &:checked ~ div.mask__checkbox::before {
                    content: '';
                    width: .2rem;
                    height: .5rem;
                    position: absolute;
                    transform: translate(-50%, -50%) rotate(45deg);
                    top: 45%;
                    left: 50%;
                    border-bottom: 2px solid white;
                    border-right: 2px solid white;
                }
            } 

            div.mask__radio {
                cursor: pointer;
                position: relative;
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                border: 2px solid $backcolor;
                transition: 0.3s ease-in;
                margin-right: .25rem;
                
                &:hover {
                    border: 2px solid $backcolordark;
                }
            }

            div.mask__checkbox {
                cursor: pointer;
                position: relative;
                width: 1rem;
                height: 1rem;
                border-radius: 3px;
                border: 2px solid $backcolor;
                transition: 0.3s ease-in;
                margin-right: .25rem;
                
                &:hover {
                    border: 2px solid $backcolordark;
                }
            }
        }

        textarea.input {
            height: 7.5rem;
            resize: vertical;
            padding-top: .5rem;
        }

        div.input__hero__label {
            position: relative;

            label {
                position: absolute;
                font-size: .95rem;
                transform: translate(0, -50%);
                pointer-events: none;
                top: 50%;
                left: 1.2rem;
                color: #5e5e5e;
                padding: 0 .25rem;
                transition: 0.1s ease-in;
            }

            .input:focus~label,
            .input:not(:placeholder-shown)~label {
                top: 2px;
                font-size: .75rem;
                background-color: white;
                left: 1rem;

            }
        }

        div.card {
            //height: 50%;
            height: auto;
            background-color: white;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 0 6px -1px rgba(89, 49, 56, .2), 0 0 8px -1px rgba(89, 49, 56, .15);

            div.image__card {
                width: 100%;
                height: 15rem;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            span.card__header__info {
                font-size: .9rem;
            }

            div.card__footer {
                display: flex;
                flex-direction: row;
                height: 4rem;
                padding: 0 1.2em;
                align-items: center;
                margin-top: 1rem;

                div.item {
                    cursor: pointer;
                    height: 4rem;
                    line-height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 1rem;
                    margin-right: 1rem;
                    font-size: 95%;

                    &.right {
                        margin-left: auto;
                    }
                }
            }

            div.pad {
                padding: 1.2rem;

                .right {
                    margin-left: auto;
                }

                header {
                    height: 4rem;
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid #d8d8d8;
                    padding: .55em 0 1em;
                    align-items: center;
                    font-size: 120%;
                    margin: .5rem 0;
                    position: relative;

                    img {
                        width: 3rem;
                        height: 3rem;
                        margin-right: .5rem;
                    }
                }

                p.text {
                    margin-top: 1rem;
                    text-align: justify;
                    font-size: 110%;
                }
            }
        }
    }
}