div.app main:not(.no__responsive) {
    @media only screen and (max-width: 1920px) {

    }
    
    @media only screen and (max-width: 1350px) {
    
    }
    
    @media only screen and (max-width: 1215px) {
    
    }
    
    @media only screen and (max-width: 1199px) {
    
    }
    
    @media only screen and (max-width: 1024px) {
        
    }
    
    @media only screen and (max-width: 981px) {
        .flex__col__1{
            flex: 0 0 calc(100% / (12 / 2));
            max-width: calc(100% / (12 / 2));
        }
    
    }
    
    @media only screen and (max-width: 930px) {
        .grid {
            &.grid__6{
                grid-template-columns: repeat(5, 1fr) !important;
            }
        }
    }
    
    @media only screen and (max-width: 810px) {
        .flex__col__1, .flex__col__2{
            flex: 0 0 calc(100% / (12 / 3));
            max-width: calc(100% / (12 / 3));
        }
    }
    
    @media only screen and (max-width: 768px) {
        .grid {
            &.grid__6, &.grid__5{
                grid-template-columns: repeat(4, 1fr) !important;
            }
        }
    
    }
    
    @media only screen and (max-width: 678px) {
        .grid {
            &.grid__6, &.grid__5, &.grid__4{
                grid-template-columns: repeat(3, 1fr) !important;
            }
        }

        .flex__col__1, .flex__col__2, .flex__col__3{
            flex: 0 0 calc(100% / (12 / 4));
            max-width: calc(100% / (12 / 4));
        }
    }
    
    @media only screen and (max-width: 520px) {
        .grid {
            &.grid__6, &.grid__5, &.grid__4, &.grid__3{
                grid-template-columns: repeat(2, 1fr) !important;
            }
        }

        .flex__col__1, .flex__col__2, .flex__col__3, .flex__col__4{
            flex: 0 0 calc(100% / (12 / 5));
            max-width: calc(100% / (12 / 5));
        }
    }
    
    @media only screen and (max-width: 480px) {
        .flex__col__1, .flex__col__2, .flex__col__3, .flex__col__4, .flex__col__5{
            flex: 0 0 calc(100% / (12 / 6));
            max-width: calc(100% / (12 / 6));
        }
    }
    
    @media only screen and (max-width: 320px) {
        .grid {
            &.grid__6, &.grid__5, &.grid__4, &.grid__3 , &.grid__2{
                grid-template-columns: repeat(1, 1fr) !important;
            }
        }
    }
}