$percent_sizes: (
    "100": 100%,
    "75": 75%,
    "66": 66.66%,
    "50": 50%,
    "33": 33.33%,
    "25": 25%,
);

$vw_sizes: (
    "100": 100vw,
    "75": 75vw,
    "66": 66.66vw,
    "50": 50vw,
    "33": 33.33vw,
    "25": 25vw,
);

$vh_sizes: (
    "100": 100vh,
    "75": 75vh,
    "66": 66.66vh,
    "50": 50vh,
    "33": 33.33vh,
    "25": 25vh,
);

$rem_sizes: (
    "025": .25rem,
    "050": .5rem,
    "075": .75rem,
    "1": 1rem,
    "150": 1.5rem,
    "2": 2rem,
    "250": 2.5rem,
    "3": 3rem,
    "350": 3.5rem,
    "4": 4rem,
    "450": 4.5rem,
    "5": 5rem,
    "550": 5.5rem,
    "600": 6rem,
    "650": 6.5rem,
    "7": 7rem,
);

$em_sizes: (
    "025": .25em,
    "050": .5em,
    "075": .75em,
    "1": 1em,
    "150": 1.5em,
    "2": 2em,
    "250": 2.5em,
    "3": 3em,
    "350": 3.5em,
    "4": 4em,
    "450": 4.5em,
    "5": 5em,
    "550": 5.5em,
    "600": 6em,
    "650": 6.5em,
    "7": 7em,
);

div.app {
    main {
        @each $name, $size in $percent_sizes {
            .w-#{$name} {
                width: $size;
            }
        }

        @each $name, $size in $vw_sizes {
            .vw-#{$name} {
                width: $size;
            }
        }

        @each $name, $size in $rem_sizes {
            .remw-#{$name} {
                width: $size;
            }
        }

        @each $name, $size in $em_sizes {
            .emw-#{$name} {
                width: $size;
            }
        }

        @each $name, $size in $percent_sizes {
            .h-#{$name} {
                height: $size;
            }
        }

        @each $name, $size in $vh_sizes {
            .vh-#{$name} {
                height: $size;
            }
        }

        @each $name, $size in $rem_sizes {
            .remh-#{$name} {
                height: $size;
            }
        }

        @each $name, $size in $em_sizes {
            .emh-#{$name} {
                height: $size;
            }
        }
    }
}