$icomoon-font-family: "Vupy-icons" !default;
$icomoon-font-path: "fonts" !default;

$vi-arrow-down: "\e914";
$vi-arrow-left: "\e915";
$vi-arrow-right: "\e916";
$vi-arrow-top: "\e917";
$vi-ban: "\e908";
$vi-bell: "\e909";
$vi-book: "\e987";
$vi-box: "\e988";
$vi-box-pen: "\e90a";
$vi-broke-heart: "\e90b";
$vi-camera: "\e989";
$vi-caution-circle: "\e90c";
$vi-caution-triangle: "\e90d";
$vi-chevron-down: "\e918";
$vi-chevron-left: "\e919";
$vi-chevron-right: "\e91a";
$vi-chevron-top: "\e91b";
$vi-chevrons-down: "\e91c";
$vi-chevrons-left: "\e91d";
$vi-chevrons-right: "\e91e";
$vi-chevrons-top: "\e91f";
$vi-circle-ban-message: "\e902";
$vi-circle-dots-message: "\e903";
$vi-circle-message: "\e900";
$vi-circle-x-message: "\e901";
$vi-code: "\e90f";
$vi-code-tag: "\e90e";
$vi-compass-120: "\e912";
$vi-compass-30: "\e910";
$vi-compass-90: "\e911";
$vi-config: "\e913";
$vi-download: "\e920";
$vi-face: "\e98a";
$vi-full-bell: "\e922";
$vi-full-book: "\e98b";
$vi-full-box: "\e98c";
$vi-full-box-pen: "\e923";
$vi-full-broke-heart: "\e924";
$vi-full-camera: "\e98d";
$vi-full-caution-circle: "\e925";
$vi-full-caution-triangle: "\e926";
$vi-full-circle-ban-message: "\e906";
$vi-full-circle-dots-message: "\e907";
$vi-full-circle-message: "\e904";
$vi-full-circle-x-message: "\e905";
$vi-full-compass-120: "\e929";
$vi-full-compass-30: "\e927";
$vi-full-compass-90: "\e928";
$vi-full-config: "\e92a";
$vi-full-gallery: "\e98e";
$vi-full-group: "\e92b";
$vi-full-heart: "\e92c";
$vi-full-house: "\e92d";
$vi-full-info-circle: "\e92e";
$vi-full-info-triangle: "\e92f";
$vi-full-left-send: "\e930";
$vi-full-mic: "\e98f";
$vi-full-more-horizontal: "\e931";
$vi-full-more-vertical: "\e932";
$vi-full-no-bell: "\e933";
$vi-full-no-heart: "\e934";
$vi-full-no-mic: "\e990";
$vi-full-open-book: "\e991";
$vi-full-pen: "\e935";
$vi-full-question-circle: "\e936";
$vi-full-question-triangle: "\e937";
$vi-full-right-box-pen: "\e938";
$vi-full-right-circle-ban-message: "\e939";
$vi-full-right-circle-dots-message: "\e93a";
$vi-full-right-circle-message: "\e93b";
$vi-full-right-circle-x-message: "\e93c";
$vi-full-right-pen: "\e93d";
$vi-full-right-send: "\e93e";
$vi-full-right-share: "\e940";
$vi-full-right-share-unlined: "\e93f";
$vi-full-right-square-ban-message: "\e941";
$vi-full-right-square-dots-message: "\e942";
$vi-full-right-square-message: "\e943";
$vi-full-right-square-x-message: "\e944";
$vi-full-right-write-pen: "\e945";
$vi-full-send: "\e946";
$vi-full-share: "\e948";
$vi-full-share-unlined: "\e947";
$vi-full-simple-house: "\e949";
$vi-full-square-ban-message: "\e94a";
$vi-full-square-dots-message: "\e94b";
$vi-full-square-message: "\e94c";
$vi-full-square-x-message: "\e94d";
$vi-full-trash: "\e992";
$vi-full-user: "\e953";
$vi-full-user-ban: "\e94e";
$vi-full-user-circle: "\e94f";
$vi-full-user-minus: "\e950";
$vi-full-user-plus: "\e951";
$vi-full-user-x: "\e952";
$vi-full-users: "\e954";
$vi-full-write-pen: "\e955";
$vi-gallery: "\e993";
$vi-group: "\e956";
$vi-heart: "\e957";
$vi-house: "\e979";
$vi-info-circle: "\e959";
$vi-info-triangle: "\e95a";
$vi-left-send: "\e95b";
$vi-login: "\e95c";
$vi-logout: "\e95d";
$vi-meh: "\e994";
$vi-menu: "\e95e";
$vi-mic: "\e995";
$vi-minus: "\e95f";
$vi-more-horizontal: "\e960";
$vi-more-vertical: "\e961";
$vi-no-bell: "\e962";
$vi-no-heart: "\e963";
$vi-no-mic: "\e996";
$vi-open-book: "\e997";
$vi-pen: "\e964";
$vi-plus: "\e965";
$vi-question-circle: "\e966";
$vi-question-triangle: "\e967";
$vi-right-box-pen: "\e968";
$vi-right-circle-ban-message: "\e969";
$vi-right-circle-dots-message: "\e958";
$vi-right-circle-message: "\e96b";
$vi-right-circle-x-message: "\e96c";
$vi-right-pen: "\e96d";
$vi-right-search: "\e998";
$vi-right-send: "\e96e";
$vi-right-share: "\e970";
$vi-right-share-unlined: "\e96f";
$vi-right-square-ban-message: "\e971";
$vi-right-square-dots-message: "\e96a";
$vi-right-square-message: "\e973";
$vi-right-square-x-message: "\e974";
$vi-right-write-pen: "\e975";
$vi-search: "\e999";
$vi-send: "\e976";
$vi-share: "\e978";
$vi-share-unlined: "\e977";
$vi-simple-house: "\e97b";
$vi-smile: "\e99a";
$vi-square-ban-message: "\e97a";
$vi-square-dots-message: "\e972";
$vi-square-message: "\e97c";
$vi-square-x-message: "\e97d";
$vi-trash: "\e99b";
$vi-upload: "\e921";
$vi-user: "\e983";
$vi-user-ban: "\e97e";
$vi-user-circle: "\e97f";
$vi-user-minus: "\e980";
$vi-user-plus: "\e981";
$vi-user-x: "\e982";
$vi-users: "\e984";
$vi-write-pen: "\e985";
$vi-x: "\e986";

