$icomoon-font-family: "Vupy-icons" !default;
$icomoon-font-path: "fonts" !default;

$vi-box-pen: "\e900";
$vi-broke-heart: "\e901";
$vi-caution-circle: "\e902";
$vi-caution-triangle: "\e903";
$vi-chevron-down: "\e904";
$vi-chevron-left: "\e905";
$vi-chevron-right: "\e906";
$vi-chevrons-down: "\e907";
$vi-chevrons-left: "\e908";
$vi-chevrons-right: "\e909";
$vi-chevrons-up: "\e90a";
$vi-chevron-up: "\e90b";
$vi-circle-ban-message: "\e90c";
$vi-circle-dots-message: "\e90d";
$vi-circle-dots-message-1: "\e90e";
$vi-circle-message: "\e90f";
$vi-circle-x-message: "\e910";
$vi-code: "\e911";
$vi-code-tag: "\e912";
$vi-compass-30: "\e913";
$vi-compass-90: "\e914";
$vi-compass-120: "\e915";
$vi-config: "\e916";
$vi-download: "\e917";
$vi-group: "\e918";
$vi-heart: "\e919";
$vi-info-circle: "\e91a";
$vi-info-triangle: "\e91b";
$vi-login: "\e91c";
$vi-logout: "\e91d";
$vi-menu: "\e91e";
$vi-minus: "\e91f";
$vi-more-horizontal: "\e920";
$vi-more-vertical: "\e921";
$vi-no-bell: "\e922";
$vi-pen: "\e923";
$vi-plus: "\e924";
$vi-question-circle: "\e925";
$vi-question-triangle: "\e926";
$vi-right-box-pen: "\e927";
$vi-right-circle-ban-message: "\e928";
$vi-right-circle-message: "\e929";
$vi-right-circle-x-message: "\e92a";
$vi-right-pen: "\e92b";
$vi-right-send: "\e92c";
$vi-right-square-ban-message: "\e92d";
$vi-right-square-dots-message: "\e92e";
$vi-right-square-message: "\e92f";
$vi-right-square-x-message: "\e930";
$vi-right-write-pen: "\e931";
$vi-send: "\e932";
$vi-share: "\e933";
$vi-share-unlined: "\e934";
$vi-square-ban-message: "\e935";
$vi-square-dots-message: "\e936";
$vi-square-message: "\e937";
$vi-square-x-message: "\e938";
$vi-upload: "\e939";
$vi-user: "\e93a";
$vi-user-ban: "\e93b";
$vi-user-circle: "\e93c";
$vi-user-minus: "\e93d";
$vi-user-plus: "\e93e";
$vi-users: "\e93f";
$vi-user-x: "\e940";
$vi-write-pen: "\e941";
$vi-x: "\e942";
$vi-arrow-down: "\e943";
$vi-arrow-left: "\e944";
$vi-arrow-right: "\e945";
$vi-arrow-up: "\e946";
$vi-ban: "\e947";
$vi-bell: "\e948";
$vi-fill-bell: "\e949";
$vi-fill-box-pen: "\e94a";
$vi-fill-broke-heart: "\e94b";
$vi-fill-caution-circle: "\e94c";
$vi-fill-caution-triangle: "\e94d";
$vi-fill-chevron-down: "\e94e";
$vi-fill-chevron-left: "\e94f";
$vi-fill-chevron-right: "\e950";
$vi-fill-chevrons-down: "\e951";
$vi-fill-chevrons-left: "\e952";
$vi-fill-chevrons-right: "\e953";
$vi-fill-chevrons-up: "\e954";
$vi-fill-chevron-up: "\e955";
$vi-fill-circle-ban-message: "\e956";
$vi-fill-circle-dots-message: "\e957";
$vi-fill-circle-dots-message-1: "\e958";
$vi-fill-circle-message: "\e959";
$vi-fill-circle-x-message: "\e95a";
$vi-fill-code: "\e95b";
$vi-fill-code-tag: "\e95c";
$vi-fill-compass-30: "\e95d";
$vi-fill-compass-90: "\e95e";
$vi-fill-compass-120: "\e95f";
$vi-fill-config: "\e960";
$vi-fill-download: "\e961";
$vi-fill-group: "\e962";
$vi-fill-heart: "\e963";
$vi-fill-info-circle: "\e964";
$vi-fill-info-triangle: "\e965";
$vi-fill-login: "\e966";
$vi-fill-logout: "\e967";
$vi-fill-menu: "\e968";
$vi-fill-minus: "\e969";
$vi-fill-more-horizontal: "\e96a";
$vi-fill-more-vertical: "\e96b";
$vi-fill-no-bell: "\e96c";
$vi-fill-pen: "\e96d";
$vi-fill-plus: "\e96e";
$vi-fill-question-circle: "\e96f";
$vi-fill-question-triangle: "\e970";
$vi-fill-right-box-pen: "\e971";
$vi-fill-right-circle-ban-message: "\e972";
$vi-fill-right-circle-message: "\e973";
$vi-fill-right-circle-x-message: "\e974";
$vi-fill-right-pen: "\e975";
$vi-fill-right-send: "\e976";
$vi-fill-right-square-ban-message: "\e977";
$vi-fill-right-square-dots-message: "\e978";
$vi-fill-right-square-message: "\e979";
$vi-fill-right-square-x-message: "\e97a";
$vi-fill-right-write-pen: "\e97b";
$vi-fill-send: "\e97c";
$vi-fill-share: "\e97d";
$vi-fill-share-unlined: "\e97e";
$vi-fill-square-ban-message: "\e97f";
$vi-fill-square-dots-message: "\e980";
$vi-fill-square-message: "\e981";
$vi-fill-square-x-message: "\e982";
$vi-fill-upload: "\e983";
$vi-fill-user: "\e984";
$vi-fill-user-ban: "\e985";
$vi-fill-user-circle: "\e986";
$vi-fill-user-minus: "\e987";
$vi-fill-user-plus: "\e988";
$vi-fill-users: "\e989";
$vi-fill-user-x: "\e98a";
$vi-fill-write-pen: "\e98b";
$vi-fill-x: "\e98c";
$vi-fill-arrow-down: "\e98d";
$vi-fill-arrow-left: "\e98e";
$vi-fill-arrow-right: "\e98f";
$vi-fill-arrow-up: "\e990";
$vi-fill-ban: "\e991";

